<!-- begin slider -->
<div class="content">
    <div class="col-md-9 col-sm-9 col-xs-9 no-padding">

        <div id="carousel-id-banner" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item">
                    <a href="#!product"><img data-src="" alt="First slide" src="image/banner/banner1.jpg"></a>
                </div>
                <div class="item">
                    <a href="#!product"><img data-src="" alt="First slide" src="image/banner/banner2.jpg"></a>
                    <div class="container">
                    </div>
                </div>
                <div class="item active">
                    <a href="#!product"> <img data-src="" alt="First slide" src="image/banner/banner3.jpg"></a>
                </div>
            </div>
            <a class="left carousel-control" target="_self" href="#carousel-id-banner" target="_self"
                data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id-banner" target="_self" data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right arrows-right"></span></a>
        </div>

    </div>
    <!-- encurrslider -->



    <div class="col-md-3 col-sm-3 col-xs-3 no-padding">
        <a href="#!product"><img src="image/banner/banner-right.png" alt="" width="100%"></a>
        <a href="#!product"><img src="image/banner/123.png" alt="" width="100%"></a>
    </div>

</div>

<!-- advertisement carosel <-->
<div class="clearfix" style="margin-top: 20px"></div>
<div class="weekly-deals">
    <div class="center-text">
        <p id="today"></p>
        <p>ONLY TODAY DEALS</p>
        <hr>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="large-12 columns">
            <div class="owl-carousel owl-theme">
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp1/1.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp1/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 40%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp2/1.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp2/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 20%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp3/3.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp3/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 65%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp4/4.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp4/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 30%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp5/1.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp5/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 70%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
            </div>
            <script>
                $(document).ready(function () {
                    var owl = $('.owl-carousel');
                    owl.owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 1000,
                        autoplayHoverPause: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 2
                            },
                            1000: {
                                items: 5
                            }
                        }
                    })
                })
            </script>
        </div>
    </div>
</section>
<!-- advertisement carosel -->

<!-- Exclusive Products -->
<div class="content">
    <div class="center-text">
        <p>Exclusive Products</p>
        <p>SPECIAL PRODUCTS</p>
        <hr>
    </div>

    <!--End Exclusive Products -->

    <!-- PRODUCT -->

    <div class="product-menu container-fluid">
        <ul class="nav product-menu-tabs nav-tabs nav nav-justified " role="tablist">
            <li class="nav-item active">
                <a class="nav-link " target="_self" data-toggle="tab" href="#menu0">NEW PRODUCTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self" data-toggle="tab" href="#menu1">FEATURED PRODUCTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self" data-toggle="tab" href="#menu2">BEST SELLERS</a>
            </li>
        </ul>
    </div>



    <!-- Tab panes -->
    <div class="tab-content product-content">
        <!-- NEW PRODUCT -->
        <div id="menu0" class="container tab-pane active">
            <br>
            <div class="col-xs-12 col-sm-4 col-md-3 product-padding"
                ng-repeat="pnew in prohome|limitTo : 8|orderBy:'-id'">

                <a href="#!product_detail">
                    <div class="item-product">
                        <div class="thumbnail">
                            <div id="new-pro-{{$index}}" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active" ng-repeat="img in pnew.img[0]" style="width: 100%">
                                        <img ng-src="imgs/products/{{pnew.img_folder}}/{{img}}.png"
                                            class="product-img img-responsive" style="margin: 0 auto" alt="">
                                    </div>
                                    <div class="item" ng-repeat="img in pnew.img" ng-if="img != pnew.img[0]">
                                        <img ng-src="imgs/products/{{pnew.img_folder}}/{{img}}.png"
                                            class="product-img img-responsive" style="margin: 0 auto" alt="">
                                        <p></p>
                                    </div>
                                </div>

                                <a class="left carousel-control" href="#new-pro-{{$index}}" target="_self"
                                    data-slide="prev"><span
                                        class="glyphicon glyphicon-chevron-left arrows-left"></span></a>
                                <a class="right carousel-control" href="#new-pro-{{$index}}" target="_self"
                                    data-slide="next"><span
                                        class="glyphicon glyphicon-chevron-right arrows-right"></span></a>
                            </div>
                            <div class="btn-group pro_btn" style="">
                                <a class="glyphicon glyphicon-heart" ng-if="!check_inFavorite(pnew.id)"
                                    class="btn btn-xs btn-danger" ng-click="pushFavorite(pnew)" title="WISH LIST"
                                    href="" target="_self" role="a"></a>
                                <a class="glyphicon glyphicon-heart" ng-if="check_inFavorite(pnew.id)"
                                    class="btn btn-xs btn-danger" style="cursor: not-allowed"
                                    title="PRODUCT HAD IN YOUR WISH LIST" href="" target="_self" role="a"></a>
                                <a class="glyphicon glyphicon-eye-open" title="VIEW" href="" ng-click="xem(pnew)"
                                    role="button"></a>
                                <a class="glyphicon glyphicon-shopping-cart" title="CART" href=""
                                    ng-click="add_to_cart(pnew)" role="button"></a>
                                <a class="glyphicon glyphicon-save" title="DOWLOAD DETAIL"
                                    href="download/prodetail.docx" download role="button"></a>
                                <a class="glyphicon glyphicon-envelope" title="CONTTACT US NOW"
                                    href="mailto:hoangtrungdungxz@gmail.com" role="button"></a>
                            </div>

                            <hr>
                            <div class=" caption">
                                <a href="#!product_detail" style="text-decoration: none;">
                                    <p class="product-caption">{{pnew.name}}</p>
                                </a>
                                <p class="price">$ {{pnew.sale}} </p>
                                <p class="sale_price">$ {{pnew.price}}</p>
                            </div>

                        </div>
                        <div class="product-content-hide">
                            <div class="product-content-hide-in">
                                <p class="p">Light Source: <strong>{{pnew.source}}</strong></p>
                                <p class="p">Light Type: <strong>{{pnew.type}}</strong></p>
                                <p class="p">Power: <strong>{{pnew.power}}</strong> </p>
                                <p class="p">Lamp Body Material: <strong>{{pnew.material}}</strong> </p>
                                <p class="p">Color Temperature: <strong>{{pnew.color}}</strong></p>
                                <p class="p">5WTechnics: <strong>{{pnew.technics}}</strong></p>
                            </div>
                        </div>
                    </div>
            </div>
            </a>
        </div>

        <!-- FEATURED PRODUCT -->

        <div id="menu1" class="container tab-pane fade"><br>
            <div class="col-xs-12 col-sm-4 col-md-3 product-padding" ng-repeat="pfeatures in prohome|limitTo : 8">
                <a href="#!product_detail">
                    <div class="item-product">
                        <div class="thumbnail">
                            <div id="featured-pro-{{$index}}" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active" ng-repeat="img in pfeatures.img[0]" style="width: 100%">
                                        <img ng-src="imgs/products/{{pfeatures.img_folder}}/{{img}}.png"
                                            class="product-img img-responsive" style="margin: 0 auto" alt="">
                                    </div>
                                    <div class="item" ng-repeat="img in pfeatures.img" ng-if="img != pfeatures.img[0]">
                                        <img ng-src="imgs/products/{{pfeatures.img_folder}}/{{img}}.png"
                                            class="product-img img-responsive" style="margin: 0 auto" alt="">
                                        <p></p>
                                    </div>
                                </div>

                                <a class="left carousel-control" href="#featured-pro-{{$index}}" target="_self"
                                    data-slide="prev"><span
                                        class="glyphicon glyphicon-chevron-left arrows-left"></span></a>
                                <a class="right carousel-control" href="#featured-pro-{{$index}}" target="_self"
                                    data-slide="next"><span
                                        class="glyphicon glyphicon-chevron-right arrows-right"></span></a>
                            </div>
                            <div class="btn-group pro_btn" style="">
                                <a class="glyphicon glyphicon-heart" ng-if="!check_inFavorite(pfeatures.id)"
                                    class="btn btn-xs btn-danger" ng-click="pushFavorite(pfeatures)" title="WISH LIST"
                                    href="" target="_self" role="a"></a>
                                <a class="glyphicon glyphicon-heart" ng-if="check_inFavorite(pfeatures.id)"
                                    class="btn btn-xs btn-danger" style="cursor: not-allowed"
                                    title="PRODUCT HAD IN YOUR WISH LIST" href="" target="_self" role="a"></a>
                                <a class="glyphicon glyphicon-eye-open" title="VIEW" href="" ng-click="xem(pfeatures)"
                                    role="button"></a>
                                <a class="glyphicon glyphicon-shopping-cart" title="CART" href=""
                                    ng-click="add_to_cart(pfeatures)" role="button"></a>
                                <a class="glyphicon glyphicon-save" title="DOWLOAD DETAIL"
                                    href="download/prodetail.docx" download role="button"></a>
                                <a class="glyphicon glyphicon-envelope" title="CONTTACT US NOW"
                                    href="mailto:hoangtrungdungxz@gmail.com" role="button"></a>
                            </div>
                </a>
                <hr>
                <div class=" caption">
                    <a href="#!product_detail" style="text-decoration: none;">
                        <p class="product-caption">{{pfeatures.name}}</p>
                    </a>
                    <p class="price">$ {{pfeatures.sale}} </p>
                    <p class="sale_price">$ {{pfeatures.price}}</p>
                </div>

            </div>
            <div class="product-content-hide">
                <div class="product-content-hide-in">
                    <p class="p">Light Source: <strong>{{pfeatures.source}}</strong></p>
                    <p class="p">Light Type: <strong>{{pfeatures.type}}</strong></p>
                    <p class="p">Power: <strong>{{pfeatures.power}}</strong> </p>
                    <p class="p">Lamp Body Material: <strong>{{pfeatures.material}}</strong> </p>
                    <p class="p">Color Temperature: <strong>{{pfeatures.color}}</strong></p>
                    <p class="p">5WTechnics: <strong>{{pfeatures.technics}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEST SALE -->

<div id="menu2" class="container tab-pane fade"><br>
    <div class="col-xs-12 col-sm-4 col-md-3 product-padding" ng-repeat="psale in prohome|limitTo : 8|orderBy:'-sale'">
        <div class="item-product">
            <a href="#!product_detail">
                <div class="thumbnail">
                    <div id="sale-pro-{{$index}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active" ng-repeat="img in psale.img[0]" style="width: 100%">
                                <img ng-src="imgs/products/{{psale.img_folder}}/{{img}}.png"
                                    class="product-img img-responsive" style="margin: 0 auto" alt="">
                            </div>
                            <div class="item" ng-repeat="img in psale.img" ng-if="img != psale.img[0]">
                                <img ng-src="imgs/products/{{psale.img_folder}}/{{img}}.png"
                                    class="product-img img-responsive" style="margin: 0 auto" alt="">
                                <p></p>
                            </div>
                        </div>

                        <a class="left carousel-control" href="#sale-pro-{{$index}}" target="_self"
                            data-slide="prev"><span class="glyphicon glyphicon-chevron-left arrows-left"></span></a>
                        <a class="right carousel-control" href="#sale-pro-{{$index}}" target="_self"
                            data-slide="next"><span class="glyphicon glyphicon-chevron-right arrows-right"></span></a>
                    </div>
                    <div class="btn-group pro_btn" style="">
                        <a class="glyphicon glyphicon-heart" ng-if="!check_inFavorite(psale.id)"
                            class="btn btn-xs btn-danger" ng-click="pushFavorite(psale)" title="WISH LIST" href=""
                            target="_self" role="a"></a>
                        <a class="glyphicon glyphicon-heart" ng-if="check_inFavorite(psale.id)"
                            class="btn btn-xs btn-danger" style="cursor: not-allowed"
                            title="PRODUCT HAD IN YOUR WISH LIST" href="" target="_self" role="a"></a>
                        <a class="glyphicon glyphicon-eye-open" title="VIEW" href="" ng-click="xem(psale)"
                            role="button"></a>
                        <a class="glyphicon glyphicon-shopping-cart" title="CART" href="" ng-click="add_to_cart(psale)"
                            role="button"></a>
                        <a class="glyphicon glyphicon-save" title="DOWLOAD DETAIL" href="download/prodetail.docx"
                            download role="button"></a>
                        <a class="glyphicon glyphicon-envelope" title="CONTTACT US NOW"
                            href="mailto:hoangtrungdungxz@gmail.com" role="button"></a>
                    </div>
            </a>
            <hr>
            <div class=" caption">
                <a href="#!product_detail" style="text-decoration: none;">
                    <p class="product-caption">{{psale.name}}</p>
                </a>
                <p class="price">$ {{psale.sale}} </p>
                <p class="sale_price">$ {{psale.price}}</p>
            </div>

        </div>
        <div class="product-content-hide">
            <div class="product-content-hide-in">
                <p class="p">Light Source: <strong>{{psale.source}}</strong></p>
                <p class="p">Light Type: <strong>{{psale.type}}</strong></p>
                <p class="p">Power: <strong>{{psale.power}}</strong> </p>
                <p class="p">Lamp Body Material: <strong>{{psale.material}}</strong> </p>
                <p class="p">Color Temperature: <strong>{{psale.color}}</strong></p>
                <p class="p">5WTechnics: <strong>{{psale.technics}}</strong></p>
            </div>
        </div>
    </div>
</div>
</div>

<!-- FREESHIPPING -->
<div class="freship container">
    <div class="">
        <div class="media col-md-4 col-sm-4">
            <a class="pull-left" href="#">
                <img class="media-object" src="imgs/home-blog/car.jpg" alt="Image">
            </a>
            <div class="media-body">
                <h4 class="media-heading">FREE SHIPPING</h4>
                <p>Free Shipping World Wide</p>
            </div>
        </div>
        <div class="media col-md-4 col-sm-4">
            <a class="pull-left" href="#">
                <img class="media-object" src="imgs/home-blog/clock24.jpg" alt="Image">
            </a>
            <div class="media-body">
                <h4 class="media-heading">24 X 7 SERVICE</h4>
                <p>Online Service For New Customer</p>
            </div>
        </div>
        <div class="media col-md-4 col-sm-4">
            <a class="pull-left" href="#">
                <img class="media-object" src="imgs/home-blog/loa.jpg" alt="Image">
            </a>
            <div class="media-body">
                <h4 class="media-heading">FESTIVAL OFFER</h4>
                <p>New Online Special Festival Offer</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="container-fluid degsign-bg bg-parallax">
    <div class="design center-text container-fluid">
        <p>BRIGHT WORLD</p>
        <p>BRIGHT YOUR HOME</p>
        <p>SUPPER SHOPPING</p>
    </div>
</div>





<!-- Weekly Deals -->
<div class="weekly-deals">
    <div class="center-text">
        <p id="week_period"></p>
        <p>WEEKY DEALS</p>
        <hr>
    </div>
</div>

<section>
    <div class="container-fluid">
        <div class="large-12 columns">
            <div class="owl-carousel owl-theme owl-carousel1">
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp1/1.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp1/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 40%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp2/1.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp2/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 20%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp3/3.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp3/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 65%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp4/4.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp4/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 30%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
                <div class="item" style="font-size: 20px;background-color: #ddd;padding: 15px">

                    <div class="media">
                        <a class="pull-left div-img-sale" href="#!product">
                            <img width="" class="media-object" src="imgs/products/sp5/1.png" alt="Image">
                            <img style="" width="" class="media-object" src="imgs/products/sp5/2.png" alt="Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading text-center"><a href="#!product"
                                    style="text-decoration: none; color:black">Luxury Led Lights</a>
                            </h4>
                            <p class="text-sale-banner text-center" style="color: red">Sale off up to <br> 70%</p>
                        </div>
                    </div>
                    <a href="#!product" class="btn btn-primary a">Shop Now</a>

                </div>
            </div>
            <script>
                $(document).ready(function () {
                    var owl = $('.owl-carousel1');
                    owl.owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 1000,
                        autoplayHoverPause: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 2
                            },
                            1000: {
                                items: 5
                            }
                        }
                    })
                })
            </script>
        </div>
    </div>
</section>
<!-- Weekly Deals End here -->


<div class="content">
    <!-- BOLGS -->


    <div class="center-text">
        <p>Recent Story</p>
        <p>FROM THE BLOG</p>
        <hr>
    </div>
    <div class="container blog">
        <div class="container-fluid">
            <div class="col-xs-6 col-sm-6 col-md-3 blog-padding" ng-repeat="blghome in blghome">
                <div class="thumbnail">
                    <a href="#!blog-detail"><img ng-src="{{blghome.image}}" alt=""></a>
                    <div class="caption">
                        <h4><a href="#!blog-detail" style="text-decoration: none; color:black">Lorem ipsum dolor sit
                                amet</a></h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <p>
                            <a href="#!blog-detail" class="btn btn-default">Lorem ipsum dolor </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- Modal slick slider -->




<script type="text/javascript">
    // =====================================================
    //Begin slick modal slide

    //End slick modal slide


    //change number month to name
    var month = new Array();

    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";
    //
    // Set duration week
    var myVar = setInterval(function () {
        weekTime();
    }, 1000);


    function weekTime() {
        var curr = new Date();

        var mon = curr.getDate() - curr.getDay() + 1; // mon is monday of the week
        var sun = mon + 7; // sun is the mon  + 7

        var monday = new Date(curr.setDate(mon));
        var sunday = new Date(curr.setDate(sun));

        //change number month to name
        //Set HTML week_period
        $('#week_period').html('Monday ' + monday.getDate() + "/" + month[monday.getMonth()] + "/" + monday.getFullYear() + " - " + ' Sunday ' + sunday.getDate() + "/" + month[sunday.getMonth()] + "/" + sunday.getFullYear());
    }


    // Begin today

    // Set duration week
    var myVar = setInterval(function () {
        toDayTime();
    }, 1000);


    function toDayTime() {
        var curr = new Date();





        //Set HTML week_period
        $('#today').html(curr.getDate() + "/" + month[curr.getMonth()] + "/" + curr.getFullYear());
    }

    // end today
</script>