<!-- Begin container -->
<div class="container">
    <!-- Begin product area -->
    <div class=" single-product-area">
        <div class="col-lg-5 col-md-6 col-xs-12 col-12">
            <!-- Begin  product-detail-left area -->
            <div class="product-details-left">
                <div class="slider-for">
                    <div class="lg-image slick-slide"><img src="imgs/products/sp13/1.png"></div>
                    <div class="lg-image slick-slide"><img src="imgs/products/sp13/2.png"></div>
                    <div class="lg-image slick-slide"><img src="imgs/products/sp13/3.png"></div>
                    <div class="lg-image slick-slide"><img src="imgs/products/sp13/4.png"></div>
                    <div class="lg-image slick-slide"><img src="imgs/products/sp13/5.png"></div>
                    <div class="lg-image slick-slide"><img src="imgs/products/sp13/6.png"></div>






                </div>
                <div class="slider-nav" style="padding: 5px!important">
                    <div class="sm-image slick-slide"><img src="imgs/products/sp13/1.png"></div>
                    <div class="sm-image slick-slide"><img src="imgs/products/sp13/2.png"></div>
                    <div class="sm-image slick-slide"><img src="imgs/products/sp13/3.png"></div>
                    <div class="sm-image slick-slide"><img src="imgs/products/sp13/4.png"></div>
                    <div class="sm-image slick-slide"><img src="imgs/products/sp13/5.png"></div>
                    <div class="sm-image slick-slide"><img src="imgs/products/sp13/6.png"></div>
                </div>
            </div>
            <!-- End product-detail-left area -->
        </div>
        <!-- Begin  product-detail-right area -->
        <div class="col-lg-7 col-md-6 col-xs-12 col-12">
            <div class="product-details-view-content">
                <div class="product-info">
                    <h2>Today Is A Good Day Framed Poster</h2>
                    <span class="product-details-ref">Reference: demo_15</span>
                </div>
                <div class="rating-box">
                    <ul class="rating rating-with-review-item">
                        <li><i class="far fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li class="view">
                            <i class="far fa-edit"></i>
                            <a href="#">Read Review</a>
                        </li>
                        <li class="view">
                            <i class="far fa-edit"></i>
                            <a href="#">Write Review</a>
                        </li>
                    </ul>
                </div>
                <div class="box-price">
                    <span class="price">$57.98</span>
                </div>
                <div class="product-list">
                    <p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat fuga quis eligendi,
                            omnis tempore, quisquam qui tenetur, ab quod facilis iure facere numquam quasi repellat
                            pariatur illum quibusdam consectetur.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </span>
                    </p>
                </div>
                <div class="lable">
                    <label for="">Quantity</label>
                </div>
                <div class="nice-select">
                    <span class="current">

                    </span>
                </div>

                <div class="quantity-cart">
                    <form>
                        <div class="product-quantity">
                            <div class="cart-plus-minus">
                                <div class="dec qtybutton">-</div>
                                <input class="cart-plus-minus-box" type="text" name="quantity" value="1">
                                <div class="inc qtybutton">+</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="whisht-list">
                    <a href="#"><i class="far fa-heart"></i> Add to wishlist</a>
                </div>
                <div class="product-social-sharing">
                    <ul>
                        <li class="facebook">
                            <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
                        </li>
                        <li class="twitter">
                            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                        </li>
                        <li class="google">
                            <a href="#"><i class="fab fa-google"></i> Google</a>
                        </li>
                        <li class="instagram">
                            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                        </li>
                    </ul>
                </div>
                <div class="reassurance-item">
                    <i class="fas fa-check-square"></i>
                    <span>Security policy (edit with Customer reassurance module)</span>
                </div>
                <div class="reassurance-item">
                    <i class="fas fa-truck"></i>
                    <span>Delivery policy (edit with Customer reassurance module)</span>
                </div>
                <div class="reassurance-item">
                    <i class="fas fa-exchange-alt"></i>
                    <span>Return policy (edit with Customer reassurance module)</span>
                </div>
            </div>
        </div>
        <!-- End product-detail-right area -->
        <!-- Begin  product-deription area -->
        <div class="container">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="color: #333;font-family: loTo">
                    <li role="presentation" class="active">
                        <a style="color: #333" href="#home" target="_self" aria-controls="home" role="tab"
                            data-toggle="tab">DESCRIPTION</a>
                    </li>
                    <li role="presentation">
                    </li>
                    <li role="presentation">
                        <a style="color: #333" href="#tab" target="_self" aria-controls="tab" role="tab"
                            data-toggle="tab">REVIEWS (1)</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="content" style="padding: 20px 0">
                            <div class="col-md-6 " style="padding: 20px 20px 20px 0">
                                <p style="font-family: Helvetica Neue;font-size: 30px;color: #0363CD">Lorem ipsum dolor
                                    sit ame. </p>
                                <p style="font-size: 16px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Cupiditate magni numquam iusto, odit illum, unde officia. Suscipit perspiciatis
                                    commodi soluta veniam, excepturi repellat ipsum, at nostrum. Harum quod, provident
                                    ad.</p>
                            </div>
                            <div class="col md 6">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/YrD5GaDAnPI"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab" style="padding: 30px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="pull-left">Customer</h3>
                                <h3 class="pull-right">21/05/2020</h3>
                                <div class="clearfix"></div>

                            </div>
                            <div class="panel-body main-blog">
                                <div class="list-comment">
                                    <h2>COMMENTS POSTED (3)</h2>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="image/avatar.jpg" alt="Image">
                                        </a>
                                        <div class="media-body">
                                            <span class="pull-left">
                                                <h4 class="media-heading">Tran Van Vung</h4>
                                                <p>Very good!!!</p>
                                                <p><small style="font-weight: bold">17/May/2020</small></p>
                                            </span>
                                            <span class="pull-right">
                                                <p>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </p>

                                            </span>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="image/avatar.jpg" alt="Image">
                                        </a>
                                        <div class="media-body">
                                            <span class="pull-left">
                                                <h4 class="media-heading">Tran Van Vung</h4>
                                                <p>Readly ???</p>
                                                <p><small style="font-weight: bold">17/May/2020</small></p>
                                            </span>
                                            <span class="pull-right">
                                                <p>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <i class="far fa-star"></i>
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="image/avatar.jpg" alt="Image">
                                        </a>
                                        <div class="media-body">
                                            <span class="pull-left">
                                                <h4 class="media-heading">Tran Van Vung</h4>
                                                <p>ok ?</p>
                                                <p><small style="font-weight: bold">17/May/2020</small></p>
                                            </span>
                                            <span class="pull-right">
                                                <p>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin content comment detail -->

                                <!-- begin form comment detail -->
                                <div class="from-blog-detail">
                                    <form action="" method="POST" role="form" id="form-comment">
                                        <h2>WRITE A COMMENT</h2>

                                        <div class="form-group">
                                            <label for="" style="color: #999;font-weight: normal;">Your Rating</label>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="text-blog">Your Review *</label>
                                            <textarea name="content" rows="5"
                                                placeholder="Enter your content..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="text-blog">Name *</label>
                                            <input type="text" class="form-control" name="name"
                                                placeholder="Enter your name...">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="text-blog">Email *</label>
                                            <input type="text" class="form-control" name="email"
                                                placeholder="Enter your email...">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin li-section-title area -->
        <div class="li-section-title">
            <h1 class="text-center"><span>Products Related:</span></h1>
        </div>
        <div class="content">
            <div class="col-xs-12 col-sm-4 col-md-3 product-padding"
                ng-repeat="psale in prohome|limitTo : 4|orderBy:'-sale'">
                <div class="item-product">
                    <a href="#!product_detail">
                        <div class="thumbnail">
                            <div id="sale-pro-{{$index}}" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active" ng-repeat="img in psale.img[0]" style="width: 100%">
                                        <img ng-src="imgs/products/{{psale.img_folder}}/{{img}}.png"
                                            class="product-img img-responsive" style="margin: 0 auto" alt="">
                                    </div>
                                    <div class="item" ng-repeat="img in psale.img" ng-if="img != psale.img[0]">
                                        <img ng-src="imgs/products/{{psale.img_folder}}/{{img}}.png"
                                            class="product-img img-responsive" style="margin: 0 auto" alt="">
                                        <p></p>
                                    </div>
                                </div>

                                <a class="left carousel-control" href="#sale-pro-{{$index}}" target="_self"
                                    data-slide="prev"><span
                                        class="glyphicon glyphicon-chevron-left arrows-left"></span></a>
                                <a class="right carousel-control" href="#sale-pro-{{$index}}" target="_self"
                                    data-slide="next"><span
                                        class="glyphicon glyphicon-chevron-right arrows-right"></span></a>
                            </div>
                            <div class="btn-group pro_btn" style="">
                                <a class="glyphicon glyphicon-heart" ng-if="!check_inFavorite(psale.id)"
                                    class="btn btn-xs btn-danger" ng-click="pushFavorite(psale)" title="WISH LIST"
                                    href="" target="_self" role="a"></a>
                                <a class="glyphicon glyphicon-heart" ng-if="check_inFavorite(psale.id)"
                                    class="btn btn-xs btn-danger" style="cursor: not-allowed"
                                    title="PRODUCT HAD IN YOUR WISH LIST" href="" target="_self" role="a"></a>
                                <a class="glyphicon glyphicon-eye-open" title="VIEW" href="" ng-click="xem(psale)"
                                    role="button"></a>
                                <a class="glyphicon glyphicon-shopping-cart" title="CART" href=""
                                    ng-click="add_to_cart(psale)" role="button"></a>
                                <a class="glyphicon glyphicon-save" title="DOWLOAD DETAIL"
                                    href="download/prodetail.docx" download role="button"></a>
                                <a class="glyphicon glyphicon-envelope" title="CONTTACT US NOW"
                                    href="mailto:hoangtrungdungxz@gmail.com" role="button"></a>
                            </div>
                    </a>
                    <hr>
                    <div class=" caption">
                        <a href="#!product_detail" style="text-decoration: none;">
                            <p class="product-caption">{{psale.name}}</p>
                        </a>
                        <p class="price">$ {{psale.sale}} </p>
                        <p class="sale_price">$ {{psale.price}}</p>
                    </div>

                </div>
                <div class="product-content-hide">
                    <div class="product-content-hide-in">
                        <p class="p">Light Source: <strong>{{psale.source}}</strong></p>
                        <p class="p">Light Type: <strong>{{psale.type}}</strong></p>
                        <p class="p">Power: <strong>{{psale.power}}</strong> </p>
                        <p class="p">Lamp Body Material: <strong>{{psale.material}}</strong> </p>
                        <p class="p">Color Temperature: <strong>{{psale.color}}</strong></p>
                        <p class="p">5WTechnics: <strong>{{psale.technics}}</strong></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- Back to top -->
        <button class="back-to-top"><i class="fas fa-arrow-up"></i></button>
        <!-- End Back to top -->
        <!-- End  li-section-title  area -->

        <!-- End  product-deription area -->
    </div>
</div>
<!-- end product area -->
</div>
<!-- End container -->

<!-- jQuery -->

<script>
    // Begin slick 
    $(document).ready(function () {
        $(".slider-for").slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            fade: true,
            centerMode: true,
            asNavFor: '.slider-nav'
        });

        $('.slider-nav').slick({
            autoplay: true,
            autoplaySpeed: 2000,
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: ".slider-for",
            dots: false,
            centerMode: true,
            focusOnSelect: true
        });
    });
    // end  slick
</script>
<script type="text/javascript">
    (function ($) {
        var CartPlusMinus = $('.cart-plus-minus');
        CartPlusMinus.prepend('<div class="dec qtybutton">-</div>');
        CartPlusMinus.append('<div class="inc qtybutton">+</div>');
        $(".qtybutton").on("click", function () {
            var $button = $(this);
            var oldValue = $button.parent().find("input").val();
            if ($button.text() === "+") {
                var newVal = parseFloat(oldValue) + 1;
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 1) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 1;
                }
            }
            $button.parent().find("input").val(newVal);
        });
    })(jQuery);
</script>